/* ----------------------------------------------- */
/* CONTENT */
/* ----------------------------------------------- */

.box img {
    width: 100%;
    height: 165px;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}